/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
}

ol, ul {
   list-style: none;
}

blockquote, q {
   quotes: none;
}

   blockquote:before, blockquote:after,
   q:before, q:after {
      content: '';
      content: none;
   }

table {
   border-collapse: collapse;
   border-spacing: 0;
}
/*****************************************************/

@font-face {
   font-family: 'Trench';
   src: url('nimavisual_trench/trench.otf');
}

/*****************************************************/

body, html {
   height: 100%;
   background-color: red;
}

#main_container {
   position: relative;
   height: 100%;
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   background-color: green;
   min-height: 600px;
}

#keskitys {
   position: relative;
   height: 100%;
   width: 100%;
}

#header {
   position: absolute;
   top: 20px;
   height: 80px;
   left: 0;
   right: 0;
   background-color: crimson;
   line-height: 80px;
   font-size: 80px;
   font-family: Trench;
   padding-left: 20px;
   font-weight: bolder;
}

#coords {
   box-sizing: border-box;
   font-family: 'Courier New';
   position: absolute;
   right: 0;
   width: 140px;
   top: 70px;
   height: 25px;
   line-height: 25px;
   border-collapse: separate;
}
   #coords td:first-child {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
   }

   #coords td:last-child {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
   }

   #coords .coordslot {
      width: 30px;
      background-color: mediumseagreen;
      text-align: right;
      border-width: 1px;
      border-color: black;
      border-style: solid;
      border-left-width: 0px;
      padding-right: 5px;
   }

   #coords .coordlabel {
      width: 30px;
      background-color: mediumseagreen;
      text-align: right;
      border-width: 1px;
      border-color: black;
      border-style: solid;
      border-right-width: 0px;
   }

#mainarea {
   position: absolute;
   background-color: orange;
   bottom: 200px;
   left: 0;
   right: 0;
   top: 100px;
   min-height: 300px;
}

#logsection {
   position: absolute;
   bottom: 0px;
   height: 200px;
   left: 0;
   right: 0;
}

   #logsection #logbox {
      box-sizing: border-box;
      position: absolute;
      bottom: 50px;
      height: 140px;
      left: 0;
      right: 0;
      background-color: darkorange;
      padding-left: 5px;
      padding-right: 5px;
      font-family: 'Courier New';
      overflow-y: scroll;
      overflow-x: hidden;
   }

   #logsection #input {
      position: absolute;
      bottom: 5px;
      height: 30px;
      left: 0;
      right: 0;
   }

      #logsection #input #prompt {
         position: absolute;
         height: 100%;
         left: 0px;
         width: 30px;
         line-height: 25px;
         font-size: 25px;
         text-align: center;
      }

      #logsection #input #inputform {
         position: absolute;
         height: 100%;
         left: 30px;
         right: 0px;
      }

         #logsection #input #inputform #textinput {
            box-sizing: border-box;
            position: absolute;
            padding: 0;
            padding-left: 5px;
            padding-right: 5px;
            border: 0;
            width: 100%;
            height: 25px;
         }


#vasen_yla {
   position: absolute;
   background-color: #10def3;
   left: 0px;
   right: 300px;
   bottom: 300px;
   top: 0px;
   overflow: hidden;
}

#oikea_yla {
   position: absolute;
   background-color: #ff6a00;
   width: 300px;
   right: 0px;
   bottom: 300px;
   top: 0;
   overflow: hidden;
}

#vasen_ala {
   position: absolute;
   background-color: #b6ff00;
   left: 0;
   height: 300px;
   right: 300px;
   bottom: 0;
   overflow: hidden;
}

#oikea_ala {
   position: absolute;
   background-color: #0094ff;
   width: 300px;
   height: 300px;
   right: 0;
   bottom: 0;
}

#ui-id-1 {
}

#pystyscroll {
   width: 10px;
   top: 0px;
   position: absolute;
   right: 0;
   background-color: blue;
}

   #pystyscroll .viewport {
      width: 0px;
      height: 100%;
      overflow: hidden;
      position: relative;
   }

   #pystyscroll .overview {
      height: 1000px;
      list-style: none;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0;
      margin: 0;
   }

   #pystyscroll .scrollbar {
      position: relative;
      background-position: 0 0;
      float: right;
      width: 15px;
   }

   #pystyscroll .track {
      height: 100%;
      width: 13px;
      position: relative;
      padding: 0 1px;
   }

   #pystyscroll .thumb {
      background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat;
      background-size: 100% 100%;
      height: 20px;
      width: 15px;
      cursor: pointer;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: -0px;
   }

   #pystyscroll .disable {
      display: none;
   }

#vaakascroll {
   height: 10px;
   left: 0px;
   bottom: 0px;
   position: absolute;
   background-color: blue;
}

   #vaakascroll .viewport {
      width: 100%;
      height: 0px;
      overflow: hidden;
      position: relative;
   }

   #vaakascroll .overview {
      height: 0;
      width: 1000px;
      list-style: none;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0;
      margin: 0;
   }

   #vaakascroll .scrollbar {
      position: relative;
      margin: 0 0 5px;
      clear: both;
      width: 15px;
   }

   #vaakascroll .track {
      width: 100%;
      height: 15px;
      position: relative;
   }

   #vaakascroll .thumb {
      background: transparent url(images/bg-scrollbar-thumb-x.png) no-repeat;
      background-size: 100% 100%;
      height: 15px;
      cursor: pointer;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: -5px;
   }

   #vaakascroll .disable {
      display: none;
   }

   #vaakascroll .overview img {
      float: left;
   }

.noSelect {
   user-select: none;
   -o-user-select: none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

#ui-id-1 {
   max-width: 300px;
   min-width: 300px;
}