﻿/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
}

ol, ul {
   list-style: none;
}

blockquote, q {
   quotes: none;
}

   blockquote:before, blockquote:after,
   q:before, q:after {
      content: '';
      content: none;
   }

table {
   border-collapse: collapse;
   border-spacing: 0;
}
/*****************************************************/

html {
   height: 100%;
}
body {
   background-color: #015367;
   height: 100%;
}

#main_container {
   position: relative;
   min-width: 600px;
   margin-left: auto;
   margin-right: auto;
   height: 100%;
   min-height: 400px;
}

#loading {
   position: absolute;
   z-index: 20;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;
   background-color: #555555;
   opacity: 1;
   text-align: center;
}

   #loading p {
      height: 100px;
      position: absolute;
      top: 50%;
      text-align: center;
      margin-top: -50px;
      width: 100%;
      font: bold 50px "Courier New";
   }

#keskitys {
   position: relative;
   max-width: 1600px;
   margin-left: auto;
   margin-right: auto;
   height: 100%;
}

#header {
   position: absolute;
   display: table;
   top: 30px;
   height: 45px;
   left: 0px;
   right: 0px;
   color: white;
   vertical-align: bottom;
   font-family: "Helvetica";
}

   #header h1 {
      display: table-cell;
      font-size: 40px;
      float: left;
      vertical-align: bottom;
      padding-left: 10px;
   }

   #header h2 {
      margin-top: 17px;
      margin-left: 20px;
      display: table-cell;
      font-size: 18px;
      float: left;
      vertical-align: bottom;
   }

#ylareuna {
   position: absolute;
   top: -135px;
   height: 140px;
   left: 0px;
   right: 0px;
   /*width: 1596px;
   left: 50%;
   margin-left: -800px;*/
   background-color: #38B2CE;
   padding: 2px;
   transition: top 0.75s;
   z-index: 10;
   border-bottom: 5px solid black;
}

#ylareuna_cont {
   height: 120px;
   width: 100%;
   overflow-x: auto;
}

#vetonappi {
   position: absolute;
   left: 50%;
   margin-left: -50px;
   top: 144px;
   width: 100px;
   height: 0;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-top: 25px solid black;
   border-bottom-left-radius: 100px;
   border-bottom-right-radius: 100px;
   cursor: pointer;
   z-index: 10;
   color: #38B2CE;
}

   #vetonappi p {
      position: absolute;
      width: 100px;
      top: -55px;
      left: 50%;
      margin-left: -50px;
      font: bold 50px Arial;
      text-align: center;
      -webkit-user-select: none;
   }

#ylareuna table td {
   position: relative;
   padding: 2px;
}

#alareuna {
   position: absolute;
   top: 70px;
   bottom: 0px;
   right: 0px;
   left: 0px;
}

#vasen_yla {
   position: absolute;
   background-color: #0F4DA8;
   top: 0px;
   left: 0px;
   right: 78px;
   bottom: 78px;
   overflow: hidden;
   max-height: 1000px;
   border: 5px solid black;
}

#oikea_yla {
   position: absolute;
   background-color: #0F4DA8;
   top: 0px;
   right: 0px;
   width: 63px;
   bottom: 78px;
   overflow-y: scroll;
   overflow-x: hidden;
   max-height: 1000px;
   border: 5px solid black;
}

   #oikea_yla .kineticjs-content {
      margin-bottom: -4px;
   }

#vasen_ala {
   position: absolute;
   background-color: #0F4DA8;
   bottom: 0px;
   left: 0px;
   right: 78px;
   height: 63px;
   overflow-x: scroll;
   overflow-y: hidden;
   border: 5px solid black;
}

#oikea_ala {
   position: absolute;
   background-color: #0F4DA8;
   bottom: 15px;
   right: 15px;
   width: 48px;
   height: 48px;
   overflow: hidden;
   border: 5px solid black;
}

.error {
   position: absolute;
   z-index: 5;
   background-color: red;
   color: white;
   width: 200px;
   padding: 10px;
   cursor: pointer;
}

   .error:after {
      content: "";
      position: absolute;
      left: 20px;
      top: -15px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 15px solid red;
   }
