/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
}

ol, ul {
   list-style: none;
}

blockquote, q {
   quotes: none;
}

   blockquote:before, blockquote:after,
   q:before, q:after {
      content: '';
      content: none;
   }

table {
   border-collapse: collapse;
   border-spacing: 0;
}
/*****************************************************/

@font-face {
   font-family: 'Trench';
   src: url('nimavisual_trench/trench.otf');
}

/*****************************************************/

body, html {
   height: 100%;
   background: linear-gradient(145deg,#1CC1F1,#0089C4);
}

#main_container {
   position: relative;
   height: 100%;
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   min-height: 600px;
}

#keskitys {
   position: relative;
   height: 100%;
   width: 100%;
}

#header {
   position: absolute;
   top: 20px;
   height: 80px;
   left: 0;
   right: 0;
   line-height: 80px;
   font-size: 80px;
   font-family: Trench;
   padding-left: 20px;
   font-weight: bolder;
}

#coords {
   box-sizing: border-box;
   font-family: 'Courier New';
   position: absolute;
   right: 30px;
   width: 140px;
   top: 70px;
   height: 25px;
   line-height: 25px;
   border-collapse: separate;
}

   #coords td:first-child {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
   }

   #coords td:last-child {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
   }

   #coords .coordslot {
      width: 30px;
      background-color: #0BD631;
      text-align: right;
      border-width: 1px;
      border-color: black;
      border-style: solid;
      border-left-width: 0px;
      padding-right: 5px;
   }

   #coords .coordlabel {
      width: 30px;
      background-color: #0BD631;
      text-align: right;
      border-width: 1px;
      border-color: black;
      border-style: solid;
      border-right-width: 0px;
   }

#mainarea {
   position: absolute;
   bottom: 215px;
   left: 0;
   right: 0;
   top: 100px;
   min-height: 300px;
}

#logsection {
   position: absolute;
   bottom: 15px;
   height: 200px;
   left: 0;
   right: 0;
}

   #logsection #logbox {
      box-sizing: border-box;
      position: absolute;
      bottom: 50px;
      height: 140px;
      left: 0;
      right: 0;
      background-color: #66B4DB;
      padding-left: 5px;
      padding-right: 5px;
      font-family: 'Courier New';
      overflow-y: scroll;
      overflow-x: hidden;
      z-index: 10;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      white-space: pre;
   }

   #logsection #input {
      position: absolute;
      bottom: 5px;
      height: 30px;
      left: 0;
      right: 0;
   }

      #logsection #input #prompt {
         position: absolute;
         height: 100%;
         left: 0px;
         width: 30px;
         line-height: 25px;
         font-size: 25px;
         text-align: center;
         font-weight: bold;
         font-family: 'Courier New';
      }

      #logsection #input #inputform {
         position: absolute;
         height: 100%;
         left: 30px;
         right: 30px;
      }

         #logsection #input #inputform #textinput {
            box-sizing: border-box;
            position: absolute;
            padding: 0;
            padding-left: 5px;
            padding-right: 5px;
            border: 0;
            width: 100%;
            height: 25px;
         }


#vasen_yla {
   position: absolute;
   left: 0px;
   right: 300px;
   bottom: 300px;
   top: 0px;
   overflow: hidden;
}

#oikea_yla {
   position: absolute;
   width: 300px;
   right: 0px;
   bottom: 300px;
   top: 0;
   overflow: hidden;
}

#vasen_ala {
   position: absolute;
   left: 0;
   height: 300px;
   right: 300px;
   bottom: 0;
   overflow: hidden;
}

#oikea_ala {
   position: absolute;
   width: 300px;
   height: 300px;
   right: 0;
   bottom: 0;
}

#ui-id-1 {
}

#pystyscroll {
   width: 15px;
   top: 0px;
   position: absolute;
   right: 0;
   background-color: #0071DB;
   border-radius: 5px;
}

   #pystyscroll .viewport {
      width: 0px;
      height: 100%;
      overflow: hidden;
      position: relative;
   }

   #pystyscroll .overview {
      height: 1000px;
      list-style: none;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0;
      margin: 0;
   }

   #pystyscroll .scrollbar {
      position: relative;
      background-position: 0 0;
      float: right;
      width: 15px;
   }

   #pystyscroll .track {
      height: 100%;
      width: 13px;
      position: relative;
      padding: 0 1px;
   }

   #pystyscroll .thumb {
      background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat;
      background-size: 100% 100%;
      height: 20px;
      width: 15px;
      cursor: pointer;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: -0px;
   }

   #pystyscroll .disable {
      display: none;
   }

#vaakascroll {
   height: 15px;
   left: 0px;
   bottom: 0px;
   position: absolute;
   background-color: #0071DB;
   border-radius: 5px;
}

   #vaakascroll .viewport {
      width: 100%;
      height: 0px;
      overflow: hidden;
      position: relative;
   }

   #vaakascroll .overview {
      height: 0;
      width: 1000px;
      list-style: none;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0;
      margin: 0;
   }

   #vaakascroll .scrollbar {
      position: relative;
      margin: 0 0 5px;
      clear: both;
      width: 15px;
   }

   #vaakascroll .track {
      width: 100%;
      height: 15px;
      position: relative;
   }

   #vaakascroll .thumb {
      background: transparent url(images/bg-scrollbar-thumb-x.png) no-repeat;
      background-size: 100% 100%;
      height: 15px;
      cursor: pointer;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: -0px;
   }

   #vaakascroll .disable {
      display: none;
   }

   #vaakascroll .overview img {
      float: left;
   }

.noSelect {
   user-select: none;
   -o-user-select: none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

#ui-id-1 {
   max-width: 300px;
   min-width: 300px;
}

#cover {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: #555555;
   z-index: 5;
   opacity: 0.90;
   visibility: visible;
   /*
   transition-delay: 0s;

   transition: visibility 0.2s ease-in-out , opacity 0.2s ease-in-out;
   -moz-transition: visibility 0.2s ease-in-out , opacity 0.2s ease-in-out;
   -webkit-transition: visibility 0.2s ease-in-out , opacity 0.2s ease-in-out;*/
}

#menubar {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   height: 25px;
   background-color: #0060CA;
   z-index: 1;
   font-family: Trench;
   padding-left: 10px;
   padding-right: 10px;
   white-space: nowrap;
}

   #menubar nav, #menubar nav ul {
      width: 100%;
   }

      #menubar nav ul ul {
         width: auto;
         display: none;
      }

      #menubar nav ul li:hover > ul {
         display: block;
      }

      #menubar nav ul {
         background: #0060CA;
         padding: 0 0px;
         border-radius: 1px;
         list-style: none;
         position: relative;
         display: inline-table;
      }

         #menubar nav ul:after {
            content: "";
            clear: both;
            display: block;
         }

         #menubar nav ul li {
            width: auto;
            float: left;
         }

            #menubar nav ul li:hover {
               background: black;
            }

               #menubar nav ul li:hover a {
                  color: white;
               }

            #menubar nav ul li a {
               display: block;
               line-height: 25px;
               font-size: 20px;
               padding: 0px 10px;
               color: white;
               text-decoration: none;
            }

         #menubar nav ul ul {
            background: #0060CA;
            border-radius: 0px;
            padding: 0;
            position: absolute;
            top: 100%;
         }

            #menubar nav ul ul li {
               float: none;
               border-bottom: 1px solid black;
               border-left: 1px solid black;
               border-right: 1px solid black;
               position: relative;
            }

               #menubar nav ul ul li:first-child {
                  border-top: 1px solid black;
               }

               #menubar nav ul ul li a {
                  padding: 5px 12px;
                  color: white;
               }

                  #menubar nav ul ul li a:hover {
                     background: black;
                  }

            #menubar nav ul ul ul {
               position: absolute;
               left: 100%;
               top: 0;
            }

   #menubar #lang {
      float: right;
   }

      #menubar #lang ul {
         position: absolute;
         top: 100%;
         right: 0px;
      }

   #menubar #lang img {
      margin-right: 10px;
   }
